/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.alert-warning {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
  color: red;
}

.alert-success {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
  color: green;
}
